@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    text-align: center;
    font-family: 'Rubik', sans-serif;

}
body {
    background-color: #8EC5FC;
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
}
h1 {
    font-size: 45px;
    text-shadow: 3px 3px 7px #fff;
}
.container {
    border-radius: 10px;
    margin: 10px;
    margin-top: 10px;
}
.add {
    border: solid 1px black;
    border-radius: 18px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
.remove {
    border: solid 1px black;
    border-radius: 18px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
footer > button {
    border: solid 1px black;
    border-radius: 18px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
p {
    font-size: 25px;
}


@media screen and (max-width: 414px) and (max-height: 736px)  {
    body {
        /* background-color: #F1EEE9; */
        background-image: url('https://images-na.ssl-images-amazon.com/images/I/41YRLx3kMAL._AC_SL1200_.jpg');
    }
    .container {
        background-color: white;
        box-shadow: 10px 5px 5px #A79081;
    }
    .add {
        background-color: #797F65;
    }
    .remove {
        background-color: #975150;
    }
    footer > button {
        color: #fff;
        text-transform: uppercase;
        background: #60a3bc;
        padding: 15px;
        border-radius: 50px;
        border: none;
    }
}

@media screen and (min-width: 768px) and (min-height: 1024px){
    body {
        /* background-color: grey; */
        background-color: #2f97ec;
        background-image: linear-gradient(62deg, #2f97ec 0%, #E0C3FC 100%);

    }
    .container {
        box-shadow: 10px 5px 5px #47454B;
        position: relative;
        left: 20%;
        width: 60%;
        font-size: 25px;
    }
    .container {
        background-color: white;
    }
    .add {
        background-color: #797F65;
        font-size: 20px;
    }
    .remove {
        background-color: #975150;
        font-size: 20px;
    }
    footer > button {
        color: #fff;
        text-transform: uppercase;
        background: #60a3bc;
        padding: 20px;
        font-size: 25px;
        border-radius: 50px;
        border: none;
        margin-bottom: 20px;
    }
    table  {
        background-color: white;
        font-size: 25px;
        border-radius: 5px;
        margin: auto;
        border: 2px solid white;
    }
}

